body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.Navy {
    background-color: #1f2937;
    padding: 0 80px;
    width: 100%;
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}

.Top-Left {
    font-weight: bold;
    color:#f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.One {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding: 80px 80px;
}

.Left-Side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Hero {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.Sub-Text {
    font-size: 18px;
    color: #e5e7eb;
}

.Sign {
    background: #3882F6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 6px 20px;
}

.Pic {
    display: flex;
}

.Two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 60px 100px;
    gap: 50px;
}

.Random {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.Squares {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.png {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text {
    text-align: center;
    color: #1f2937;
    font-size: 18px;
}

.Gray {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}

.p1 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.p2 {
    text-align: end;
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
}

.Second-White {
    display: flex;
    box-sizing: border-box;
    margin: 60px;
    padding: 30px 70px;
    gap: 100px;
    background: #3882F6;
    color:#f9faf8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.Action {
    font-weight: bold;
    font-size: 25px;
}

.Subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.Sign-Up {
    border-radius: 5px;
    color: white;
    box-shadow: none;
    border-color: white;
    border-style: solid;
    /* browser auto-shades border to two-tone.
    override by using 'border-style' */
    background-color: #3882F6;
    font-size: 18px;
    padding: 8px 30px;
    display: flex;
    flex-shrink: 0;
}

.Footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}